/* FuturaPT-regular - latin */
@font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  src:
       url('../fonts/FuturaPT-350.woff2') format('woff2'), 
       url('../fonts/FuturaPT-350.woff') format('woff'); 
}
/* FuturaPT-500 - latin */
@font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 500;
  src:
       url('../fonts/FuturaPT-500.woff2') format('woff2'), 
       url('../fonts/FuturaPT-500.woff') format('woff'); 
}
/* FuturaPT-700 - latin */
@font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 700;
  src:
       url('../fonts/FuturaPT-700.woff2') format('woff2'), 
       url('../fonts/FuturaPT-700.woff') format('woff'); 
}